<div class="row ma-party-details-container">
    <div class="col-sm-6 col-sm-offset-3">
        <legend>
            View and Edit Your News Detail:
        </legend>
        <form class="form-horizontal">

            <div class="form-group">
                <label>Heading</label>
                <input ng-model="newsDetail.news.heading" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Summary</label>
                <input ng-model="newsDetail.news.summary" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>URL</label>
                <input ng-model="newsDetail.news.url" type="text" class="form-control">
            </div>            
            <div class="form-group">
                <label>Detail</label>
                <textarea ng-model="newsDetail.news.detail " type="text" class="form-control"></textarea> 
            </div>
            <div class="form-group">
                <label >Date</label>
                <input ng-model="newsDetail.news.date" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label >Posted By</label>
                <input ng-model="newsDetail.news.post" type="text" class="form-control">
            </div>
            
            <div class="form-group" ng-show="newsDetail.news.owner == newsDetail.currentUserId">
                <button ng-click="newsDetail.newsUpdate()" class="btn btn-primary">Update</button>
            </div>
        </form>

    </div>
</div>
