<div class="row h100" style="padding-top:10px;">
    <div class="col-md-2 h100">
    </div>
    <div class="col-md-8" ma-parties-col>
    <div class="panel panel-info">
            <div class="panel-heading">Reset Password </div>
            <div class="panel-body">
                <h3>Enter your email so we can send you a reset link</h3>

                <form class="form-horizontal" name="resetForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="resetpw.credentials.email" placeholder="email" class="form-control" required/>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-click="resetpw.reset()" ng-disabled="resetpw.resetForm.$invalid()">
                                Register
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                       <div ng-show="register.error" class="col-sm-12">
                        <p class="md-body-1">{{ register.error }}</p>
                      </div>
                 
                      
                      <div class="col-sm-12">
                        <a class="md-button" href="/login">Already a user?</a>
                      </div>
                    </div>
                </form>
 
            </div>
          </div>
    </div>
  <div class="col-md-2 h100">
  </div>   
</div>
