
<div class="row h100">
  
    <div class="col-md-12 ma-parties-col">
        <div class="row">
            <div class="col-xs-8">
                <form class="form-inline search-form">

                    <div class="form-group">
                        <label class="sr-only" for="search">Search</label>

                        <div class="input-group">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                            <input type="text" ng-model="companyList.searchText" placeholder="Search" id="search" class="form-control">
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-xs-4 ma-add-button-container">
                <button ng-show="companyList.isLoggedIn" class="btn" ng-click="companyList.openAddNewCompany()">
                    <i class="fa fa-plus"></i></button>
            </div>
        </div>

        <ul class="list-group">
            <li pagination-id="companyPg" dir-paginate="com in companyList.company | itemsPerPage: companyList.perPage" total-items="companyList.expertAdviseCount" class="list-group-item ma-party-item">
                <i class="ma-remove fa fa-times" ng-click="companyList.removeCompany(com)"
                   ng-show="companyList.isLoggedIn && com.owner == companyList.currentUserId"></i>

                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="ma-party-name">{{com.companyName}}</h3>

                        <p class="ma-party-description">{{com.summary}}</p>

                        <p class="ma-party-description">{{com.url}}</p>
                        <div ng-show="companyList.isLoggedIn && com.owner == companyList.currentUserId">
                            Public :  <input type="checkbox" ng-model="com.Public">
                            <button class="btn btn-primary" ng-click="companyList.updateCompany(com)">Update</button>
                        </div>
                    </div>
                    <div class="col-sm-5">
                         <div style="width: 350px;
                                    height: 200px;
                                    background-image: url('{{com.imageUrl}}');
                                    background-size: 100% 100%;
                                    border: 1px solid blue;
                                    float:inherit;
                                    margin:10px;
                                    ">
                        </div>
                    </div>
                </div>
               
            </li>
        </ul>

        <dir-pagination-controls on-page-change="companyList.pageChanged(newPageNumber)" pagination-id="companyPg"></dir-pagination-controls>
    </div>

</div>
