
<div class="row h100">
    <div class="col-md-2 h100">
    </div>
    <div class="col-md-8 ma-parties-col">
        <div class="row">
            <div class="col-xs-8">
                <form class="form-inline search-form">

                    <div class="form-group">
                        <label class="sr-only" for="search">Search</label>

                        <div class="input-group">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                            <input type="text" ng-model="newList.searchText" placeholder="Search" id="search"
                                   class="form-control">
                        </div>
                    </div>

                </form>
            </div>
            
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">News</div>
            <div class="panel-body">

        <ul class="list-group">
            <li ng-repeat="news in newList.news " class="list-group-item ma-party-item">

           <!--  <div style="float:right;">
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-mobile-iframe="true"></div>
            </div> -->

                         
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="ma-party-name">{{news.heading}}</h3>
                        <p class="ma-party-description">{{news.summary}}</p>
                        
                        <p class="ma-party-description">{{news.detail}}</p>                         
                    </div>
                    <div class="row ma-party-item-bottom">
                    <div class="col-sm-6 ma-posted-by-col">
                        <p class="ma-party-description"><a href="{{news.url}}" target="_blank">Click here for details</a></p>
                    </div>
                    <div class="col-sm-6 ma-posted-by-col">
                        <p class=" ma-posted-by text-right">
                            Posted by <br>
                            {{news.post}}
                        </p>
                    </div>
                    </div> 
                </div>                
            </li>
        </ul>
    </div>
    <div class="panel-footer">
    </div>
    </div>
    </div>
<div class="col-md-2 h100">
    </div>
</div>

<div ng-include="'client/home/footer/foot-template.html'"></div>
<!-- 
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->