
<div class="row h100">

    <div id="pdf" class="col-md-12 ma-parties-col">
        
        <div class="row">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Verified</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in userList.users"> 
                    <td>{{user._id}}</td>
                    <td>{{user.profile.name}}</td>
                    <td>{{user.profile.mobile}}</td>
                    <td>{{userList.getContactEmail(user)}}</td>
                    <td>{{user.emails[0].verified}}</td>
                </tr>
                </tbody>
            </table>
            
        </div>
        <div><button class="btn btn-primary" ng-click="userList.downloadPdf()">Download PDF</button></div>
 
    </div>

</div>
